<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/fragment::mainHeadResources"></head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">직원 등록</h3></div>
                            <div class="card-body">
                                <form th:action="@{/employees/register}" method="post">
                                    <div class="mb-3">
                                        <input class="form-control" type="text" id="name" name="name" placeholder="이름"/>
                                    </div>

                                    <div class="mb-3">
                                        <select name="position" th:value="직급">
                                            <option value="CEO">CEO</option>
                                            <option value="CTO">CTO</option>
                                            <option value="MANAGER">MANAGER
                                            </option>
                                            <option value="STAFF">STAFF</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <input class="form-control" id="email" type="text" name="email"
                                               placeholder="이메일"/>
                                    </div>

                                    <div class="mb-3">
                                        <input class="form-control" id="phoneNum" type="text" name="phone"
                                               maxlength="13"
                                               placeholder="전화번호"/>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary">등록하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div th:replace="fragments/fragment::indexScript"></div>
<script th:replace="fragments/fragment::phoneScript"></script>
</body>
</html>
