<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::mainHeadResources"></head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" th:action="@{/employees/register}" method="post">
					<span class="login100-form-title">
						직원 등록
					</span>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="name" placeholder="이름">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="position" placeholder="직급">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="email" placeholder="이메일">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="phone" placeholder="전화번호">
                    <span class="focus-input100"></span>
                </div>

                <button class="btn btn-outline-primary">등록하기</button>
            </form>
        </div>
    </div>
</div>

<head th:replace="fragments/fragment::accountScriptResources"></head>
</body>
</html>