<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::mainHeadResources"></head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178"
                  th:action="@{'/employees/update/' + ${employee.id}}" th:method="put">
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="id" th:value="${#numbers.formatInteger(employee.id,3)}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="name" th:value="${employee.name}"/>
                    <span class="focus-input100"></span>
                </div>

                <select name="position" th:with="position = ${employee.position.name()}">
                    <option value="CEO" th:selected="${position == 'CEO'}">CEO</option>
                    <option value="CTO" th:selected="${position == 'CTO'}">CTO</option>
                    <option value="MANAGER" th:selected="${position == 'MANAGER'}">MANAGER</option>
                    <option value="STAFF" th:selected="${position == 'STAFF'}">STAFF</option>
                </select>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="email" th:value="${employee.email}"/>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" id="phoneNum" type="phone" name="phone" maxlength="13"
                           th:value="${employee.phone}"/>
                    <span class="focus-input100"></span>
                </div>
                <button class="btn btn-outline-primary">수정하기</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment::accountScriptResources"></div>
<script th:replace="fragments/fragment::phoneScript"></script>
</body>
</html>